body
{
    font-family: 'Play', sans-serif;
    text-align:center;
}
#topImg
{
    background-image:url("../images/workshop.jpg");
    width:100%;
    height:900px;
}
#topTitle
{
    color:white;
    font-size:200px;
    line-height:450px;
}
#title
{
    font-size:100px;
}
#description
{
    margin-top:20px;
}
#descriptionP
{
    width:50%;
}
#descriptionImg
{
    width:25%;
}